<div class="container">
    <div class="logo">
        <a href="/"><i class="fa fa-graduation-cap" aria-hidden="true"> JET</i></a></i>
    </div>
    <nav>
        <ul class="nav-links">
            
            <li><a href="/login">CASHIER</a></li>
            <li><a href="/login">MANAGER</a></li>

        </ul>
    </nav>
</div>